<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Halo, {{nama_pengguna}}!</h1>
    <h1>Jumlah user terdaftar: {{jumlah_user}}</h1>
    
    <h1>Daftar user</h1>

    {% for user in daftar_user %}
        <p>{{ user[0] }}</p>
    {% endfor %}

    <h1>Daftar Produk kamu:</h1>

    {% for produk in daftar_produk %}

    <p>Nama: {{produk[1]}}</p>
    <p>Harga: Rp {{produk[2]}}</p>
    <p>Deskripsi: {{produk[3]}}</p>
    <p>Penjual: {{produk[4]}}</p>
    <a href="/update-product/{{ produk[0] }}">Perbarui produk</a>
    <a href="/delete-produk/{{ produk[0] }}">Hapus Produk</a>
    <hr>

    {% endfor %}

    <a href="/">Log out</a>
    <a href="/delete">Hapus akun</a>
    <a href="/change-password">Ganti password</a>
    <a href="/change-name">Ganti nama</a>
    <a href="/add-product">Tambah produk</a>
    

</body>
</html>