<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
</head>
<body>
    <h1>Daftar Produk:</h1>

    {% for produk in daftar_produk %}

    <p>Nama: {{produk[1]}}</p>
    <p>Harga: Rp {{ "{:,}".format(produk[2]).replace(",", ".")}}</p>
    <p>Deskripsi: {{produk[3]}}</p>
    <p>Penjual: {{produk[4]}}</p>
    {% if pembeli != produk[4] %}
    <a href="/buy-product">Beli Produk</a>
    {% endif %}
    <hr>
    {% endfor %}

    <a href="/dashboard">Kembali ke dashboard</a>
</body>
</html>